// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// 1px solid #c9d0d6

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

#header li.menu_item.m_icon a {
    display: inline-block;
    line-height: 36px;
    // background: asset-url('options.png') no-repeat;
    padding: 2px;
    padding: 0px;
    width: 16px;
    height: 16px;
    border-radius: 0;
}

#options a{background: asset-url('options.png') no-repeat; }
#import a{background: asset-url('import.png') no-repeat; }

.box_wrap input[type=text] {
  // width: 100%;
      width: unset;
}

.box_wrap label {margin-top: 6px; text-align: right; font-weight: bold; font-size: 12px;}
.box_wrap label::after {content: ":";}

.vdp-datepicker input[type=text]{width: 96px; border: none; background-color: transparent;} 
.vdp-datepicker input[type=text]:focus {box-shadow: none; border: none;}
.vdp-datepicker {float: left; }
.inp_w.vdate {border: 1px solid #c9d0d6; width: 120px; border-radius: 5px;}
.inp_w.vdate:hover {border: 1px solid #99a2aa; box-shadow: 0 0 4px #99a2aa; cursor: pointer;}

.clear span { font-size: 18px; font-weight: bolder; line-height: 1; color: #ca0000; cursor: pointer; 
              line-height: 28px; border-radius: 3px;}

.box_wrap input[type=number] {width: 98px;}