<%= content_tag :div, id: "flash_#{name}", class: "alert fade-in flash_#{name}" do %>
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <% if msg.kind_of?(Array)  %> 
    <ul>
    <% msg.each do |m| %>
      <%= "<li>#{m}</li>".html_safe %>
    <% end %>
    </ul>
  <% else %>
    <%= msg %>
  <% end -%>
<% end %>